<a href="/dashboard"><</a>
<img src="" class="logo" alt="Ruqu lost and found logo">

<form action="/pet/add" method="POST" enctype="multipart/form-data">
  <label for="status">Have you lost or found a dog?</label>
  <input type="radio" name="status" value="lost" checked><span>Lost</span>
  <input type="radio" name="status" value="found"><span>Found</span>
  
  <select name="day" id="day">
    <option value="" disabled selected>--Select day--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
  <select name="month" id="month">
    <option value="" disabled selected>--Select month--</option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <input type="text" id="year" name="year" placeholder="--Insert year--">

  <select name="hour" id="hour">
    <option value="" disabled selected>--Select aproximated hour--</option>
    <option value="0">00:00</option>
    <option value="1">01:00</option>
    <option value="2">02:00</option>
    <option value="3">03:00</option>
    <option value="4">04:00</option>
    <option value="5">05:00</option>
    <option value="6">06:00</option>
    <option value="7">07:00</option>
    <option value="8">08:00</option>
    <option value="9">09:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
    <option value="17">17:00</option>
    <option value="18">18:00</option>
    <option value="19">19:00</option>
    <option value="20">20:00</option>
    <option value="21">21:00</option>
    <option value="22">22:00</option>
    <option value="23">23:00</option>
  </select>

  <label for="location">Where did you lose or find the dog?</label>
  <input type="text" id="location" name="location" placeholder="C/Balmes, Barcelona, 08026">

  <label for="name">Name of the dog</label>  
  <input type="text" id="name" name="name" placeholder="Ruqu">

  <label for="color">What color/s is the dog?</label>
  <input type="checkbox" name="white" value="white"><span>White</span>
  <input type="checkbox" name="grey" value="grey"><span>Grey</span>
  <input type="checkbox" name="black" value="black"><span>Black</span>
  <input type="checkbox" name="darkBrown" value="darkbrown"><span>Dark brown</span>
  <input type="checkbox" name="lightBrown" value="lightbrown"><span>Light brown</span>
  <input type="checkbox" name="red" value="red"><span>Red</span>
  
  <label>How big is the dog?</label>
  <input type="radio" name="size" value="small"><span>Small</span>
  <input type="radio" name="size" value="medium"><span>Medium</span>
  <input type="radio" name="size" value="large"><span>Large</span>

  <label for="breed">What breed is the dog?</label>
  <select name="breed" id="breed">
    <option value="default" selected>Mixed breed</option>
    <option value="golden">Golden Retriever</option>
    <option value="boxer">Boxer</option>
    <option value="bulldog">Bulldog</option>
    <option value="beagle">Beagle</option>
    <option value="rottweiler">Rottweiler</option>
    <option value="chihuahua">Chihuahua</option>
    <option value="collie">Border Collie</option>
    <option value="labrador">Labrador</option>
    <option value="terrier">Border Terrier</option>
    <option value="shepherd">German Shepherd</option>
    <option value="dobermann">Dobermann</option>
    <option value="dalmata">Dalmata</option>
  </select>

  <label>What kind of ears does the dog have?</label>
  <input type="radio" name="ears" value="up"><span>Up</span>
  <input type="radio" name="ears" value="down"><span>Down</span>

  <label for="tail">What kind of tail does the dog have?</label>
  <input type="radio" name="tail" value="longTail"><span>Long</span>
  <input type="radio" name="tail" value="longHairy"><span>Hairy</span>
  <input type="radio" name="tail" value="shortTail"><span>Short</span>

  <label for="hair">What kind of hair does the dog have?</label>
  <input type="radio" name="hair" value="short"><span>Short hair</span>
  <input type="radio" name="hair" value="long"><span>Long hair</span>

  <label for="photo">Upload an image if you have any</label>
  <input type="file" name="photo" />

  <button type="submit">Add dog</button>

</form>


{{#if missingFields.length}}
<ul class="validation">
  {{#each missingFields}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
