<img src="" class="logo" alt="Ruqu lost and found logo">
<a href="/profile">*</a>
<nav>
  <ul>
    <li class="lost">LOST</li>
    <li class="found">FOUND</li>
  </ul>
</nav>
<section class="lost">

</section>
<section class="found">

</section>
<section class="add-dog">
  <a href="/"></a>
</section>