<div class="error-and-404">  
  <img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">
  <img src="/images/404-not-foundB.png" alt="this URL is invalid">
  <h1>5O5 error</h1>
  <p>There was a problem with the server </p>
  <a class="button" href="/">Go home</a>
</div>