<div class="error-and-404">  
  <img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">
  <img src="/images/404-not-foundB.png" alt="this URL is invalid">
  <h1>Oooops!</h1>
  <p>It looks like you're lost...</p>
  <a class="button" href="/">Go home</a>
</div>