<a href="/dashboard"><</a>
<img src="" class="logo" alt="Ruqu lost and found logo">

<form action="/profile/logout" method="POST">
  <button type=submit>Log out</button>
</form>

<p>Edit contact information</p>
<button class="edit-info">Edit</button>
<form class="edit-info-form" action="/profile/edit" method="POST">
  <label for="name">Name</label>
  <input class="edit-info-input" name="name" type="text" id="name" placeholder="Your name" value="{{name}}" required disabled>
  <label for="surname">Surname</label>
  <input class="edit-info-input" name="surname" type="text" id="surname" placeholder="Your surname" value="{{surname}}" required disabled>
  <label for="phone">Phone</label>
  <input class="edit-info-input" name="phone" type="text" id="phone" placeholder="Your phone" value="{{phone}}" required disabled>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="Your email" value="{{email}}" required disabled>
</form>

<p>Edit password</p>
<button class="edit-password">Edit password</button>
<form class="edit-password-form" action="/profile/edit-password" method="POST">
  <label for="password">Password</label>
  <input class="edit-password-input" type="password" name="password" id="password" placeholder="Your new password" value="*****" required disabled>
</form>