<a href="/dashboard"><</a>
<img src="" class="logo" alt="Ruqu lost and found logo">

<button>Edit (con DOM manipulation activa el form y añade botón de submit)</button>
<form action="/profile/logout" method="POST">
  <button type=submit>Log out</button>
</form>

<form action="/profile/edit" method="POST">
  <label for="name">Name</label>
  <input name="name" type="text" id="name" placeholder="Your name" value="Name" required disabled>
  <label for="surname">Surname</label>
  <input name="surname" type="text" id="surname" placeholder="Your surname" value="Name" required disabled>
  <label for="phone">Phone</label>
  <input name="phone" type="text" id="phone" placeholder="Your phone" value="Name" required disabled>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="Your email" value="Name" required disabled>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Your password" value="Name" required disabled>
</form>