<a href="/"><</a>
<img src="" class="logo" alt="Ruqu lost and found logo">

<form action="/auth/signup" method="POST">
<label for="name">Name</label>
<input name="name" type="text" id="name" placeholder="Your name" required>
<label for="surname">Surname</label>
<input name="surname" type="text" id="surname" placeholder="Your surname" required>
<label for="phone">Phone</label>
<input name="phone" type="text" id="phone" placeholder="Your phone" required>
<label for="email">Email</label>
<input type="email" id="email" name="email" placeholder="Your email" required>
<label for="password">Password</label>
<input type="password" name="password" id="password" placeholder="Your password" required>
<button type="submit">Sign up</button>
</form>