form {
  width: 100%;
  margin: 20px 0;
  font-size: 1.1em;
}

form span {
  color: #085a75;
}

form label, form div label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3e4142;
  font-weight: 100;
  text-align: center;
  margin: 5% 0;
  display: block;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 5%;
}

img.illustration {
  height: 55px;
}

input[type="file"] {
  font-size: 0.7em;
  background: white;
  margin: 6%;
  color: #085a75;
  padding: 3%;
}

input[type="text"], input[type="email"], input[type="password"] {
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #259bab;
  height: 40px;
  padding: 20px;
  width: 80%;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  /* Safari prior 6.1 */
  transition: all 1s;
  font-size: 0.8em;
  color: #085a75;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  width: 100%;
  border-bottom: 2px solid #085a75;
  -webkit-transition: all 0.5s;
  /* Safari prior 6.1 */
  transition: all 0.5s;
}

select {
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #259bab;
  height: 40px;
  padding: 5px;
  width: 80%;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #085a75;
  font-size: 0.8em;
}

select:focus {
  outline: none;
  border-bottom: 2px solid #085a75;
  -webkit-transition: all 0.5s;
  /* Safari prior 6.1 */
  transition: all 0.5s;
}

input[type="checkbox"] {
  width: 30px;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.date input, .date select {
  width: 28%;
}

.date input {
  padding: 12px;
}

.date input:focus {
  width: 28%;
}

.margin-bottom {
  margin-bottom: 30px;
}

.pet-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pet-color .color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #085a75;
}

.pet-color .white {
  background-color: white;
}

.pet-color .black {
  background-color: black;
}

.pet-color .grey {
  background-color: grey;
}

.pet-color .red {
  background-color: #e65835;
}

.pet-color .light-brown {
  background-color: #ebcc7c;
}

.pet-color .dark-brown {
  background-color: #b36b01;
}

::-webkit-input-placeholder {
  color: #259bab;
  text-align: center;
}

:-ms-input-placeholder {
  color: #259bab;
  text-align: center;
}

::-ms-input-placeholder {
  color: #259bab;
  text-align: center;
}

::placeholder {
  color: #259bab;
  text-align: center;
}

button, .button {
  width: 80%;
  padding: 15px;
  border: 0;
  background: #085a75;
  color: white;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-height: 40px;
}

nav.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 8%;
}

nav.toggle button {
  font-size: 1em;
  background-color: white;
  color: #085a75;
  width: 50%;
}

nav.toggle button.selected {
  background-color: #085a75;
  color: white;
}

nav.toggle button.left {
  border-radius: 15px  0 0 15px;
}

nav.toggle button.right {
  border-radius: 0 15px 15px 0;
}

a.button {
  padding: 11px;
}

div.new-messages, div.new-matches {
  background-color: #e65835;
  border-radius: 50%;
  padding: 6px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1100px;
}

.main-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 100%;
}

.logo-small {
  width: 60%;
}

.navigation-logo {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 60px;
      grid-template-columns: 60px 1fr 60px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-logo a img {
  height: 35px;
  width: auto;
  margin-top: 6px;
}

.navigation-logo img.logo-small {
  width: 60%;
  height: auto;
}

.validation {
  margin-bottom: 20px;
}

.validation li {
  background-color: #e65835;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.separator hr {
  width: 100%;
  background-color: #259bab;
  border: 0;
  height: 1px;
}

.separator span {
  margin: 10px;
  color: #259bab;
}

.radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.toggle {
  width: 60%;
  margin: 4% 4% 10%;
}

.toggle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  font-weight: 300;
}

.toggle ul li {
  cursor: pointer;
}

.foundSectionDashboard, .lostSectionDashboard {
  width: 100%;
}

.foundSectionDashboard article:last-child, .lostSectionDashboard article:last-child {
  margin-bottom: 40px;
}

.dogCardDashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
  padding: 6%;
  margin: 6% 0;
  border-radius: 15px;
}

.dogCardDashboard .messages-match-delete {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dogCardDashboard .messages-match-delete .messages-icon img, .dogCardDashboard .messages-match-delete .matches-icon img {
  height: 28px;
}

.dogCardDashboard .messages-match-delete .delete-icon img {
  height: 35px;
}

.dogCardDashboard .messages-match-delete div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dogCardDashboard .messages-match-delete div p {
  margin-left: 10%;
}

.dogCardDashboard .dog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #085a75;
}

.dogCardDashboard .dog-info .dog-image {
  width: 100%;
  margin: 15px 0;
  overflow: hidden;
}

.dogCardDashboard .dog-info .dog-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dogCardDashboard .dog-info .dog-name {
  font-size: 1.3em;
  margin: 2% 0%;
}

.dogCardDashboard .dog-info .pet-color {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0%;
}

.dogCardDashboard .dog-info .pet-color span {
  margin: 0 4%;
}

.dogCardDashboard .dog-info .breed-hair, .dogCardDashboard .dog-info .when-where, .dogCardDashboard .dog-info .ears-tail-size, .dogCardDashboard .dog-info .found-match-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2% 0%;
}

.dogCardDashboard .dog-info .breed-hair a, .dogCardDashboard .dog-info .breed-hair button, .dogCardDashboard .dog-info .when-where a, .dogCardDashboard .dog-info .when-where button, .dogCardDashboard .dog-info .ears-tail-size a, .dogCardDashboard .dog-info .ears-tail-size button, .dogCardDashboard .dog-info .found-match-buttons a, .dogCardDashboard .dog-info .found-match-buttons button {
  margin: 0% 1%;
}

.dogCardDashboard .dog-info .breed-hair img, .dogCardDashboard .dog-info .when-where img, .dogCardDashboard .dog-info .ears-tail-size img, .dogCardDashboard .dog-info .found-match-buttons img {
  height: 35px;
}

.add-dog {
  position: fixed;
  bottom: 0;
}

.add-dog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-dog a img {
  width: 70%;
}

.currentDogMatches {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  /* position: relative; */
  left: -30px;
  width: calc(100% + 60px);
  border-radius: 0;
}

.matches article {
  background-color: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 15px;
}

.currentDogMatches {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
}

.header-match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-match .button {
  width: 75px;
  border-radius: 13px;
  background-color: #00BCD4;
  margin-right: 10px;
}

.header-match img {
  height: 35px;
  width: auto;
}

.match-dog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-dog-info div {
  margin-bottom: 10px;
}

.match-dog-info .dog-name {
  font-weight: bold;
  font-size: 1.3em;
  margin: 2% 0%;
}

.match-dog-info .pet-color {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.match-dog-info .ears-tail-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.match-dog-info .ears-tail-size p img {
  height: 35px;
}

.match-dog-info .breed-hair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.delete-match {
  position: absolute;
  right: -9px;
  top: -15px;
}

.matching-info {
  position: relative;
}

.dog-image img {
  position: relative;
  top: -30px;
  left: -30px;
  width: calc(100% + 60px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  line-height: 147%;
  background-color: #afe6e6;
}

p {
  margin: 0;
  font-size: 1em;
}

h2 {
  color: #3e4142;
  font-size: 1.4em;
  text-align: center;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #085a75;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=main.css.map */