@import './scss/helpers/mixins';
@import './scss/helpers/variables';
@import './scss/components/components';
@import './scss/layout/layout';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  line-height: 147%;
  background: { 
    color: $lightblue, 
  }
}

p {
  margin: 0;
  font-size: 1.3em;
}

h2 {
  color: $darkgrey;
  font-size: 1.4em;
  text-align: center;
  font-weight: 300;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

li{
  list-style: none;
  padding:0;
  margin:0;
}

a {
  color: $darkblue;
}

.displayNone {
  display:none;
}