body{
  @include flex-center();
}

.main-container{
  padding: 30px;
  @include flex-center(column);
  form{
    @include flex-center(column);
  }
  height: 100%;
  width: 100%;
  max-width: 1100px;
}

.logo{
  width:100%;
}

.logo-small {
  width: 60%;
}

.navigation-logo {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: auto;
  justify-items: center;
  align-items:center;
  a{
    @include flex-center(row);
    img{
      height: 35px;
      width: auto;
      margin-top: 6px;
    }
  }
}

.navigation-logo {
  img.logo-small {
    width:60%;
    height: auto;
  }
}

.validation{
  margin-bottom: 20px;
  
  li{
    background-color: $red;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 5px;
  }
}

.separator{
  @include flex-center(row);
  width:80%;
  margin-bottom: 20px;
  hr{
    width: 100%;
    background-color: $mediumblue;
    border: 0;
    height: 1px;
  }
  span{
    margin: 10px;
    color: $mediumblue;
  }
}

.radio-list {
  @include flex-center(row);
  width:80%;
}

.toggle {
  width: 60%;
  margin: 4% 4% 10%;
  ul {
    @include flex-center(row);
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: 300;
    li {
      cursor: pointer;
    }
  }
}

.foundSectionDashboard, .lostSectionDashboard {
  width:100%;
  article:last-child{
    margin-bottom: 40px;
  }
}

.dogCardDashboard {
  @include flex-center(column);
  width: 100%;
  background-color:white;
  padding: 6%;
  margin: 6% 0;
  border-radius: 15px;
  p {
    text-align: center;
  }
  .messages-match-delete {
    width:100%;
    @include flex-center(row);
    justify-content: space-evenly;
    .messages-icon, .matches-icon{
      img{
        height: 28px;
      }
    }
    .delete-icon{
      img{
        height: 35px;
      }
    }
    div {
      @include flex-center(row);
      justify-content: space-evenly;
      p {
        margin-left: 10%;
      }
    }
  }
  .dog-info {
    @include flex-center(column);
    color: $darkblue;
    .dog-image {
      width: 100%;
      margin: 15px 0;
      overflow: hidden;
        img {
          width:100%;
          object-fit: contain;
        }
    }
    .dog-name {
      font-size:1.3em;
      margin: 2% 0%;
    }
    .pet-color {
      width:100%;
      @include flex-center(row);
      margin: 2% 0%;
      span {
        margin: 0 4%;
      }
    }
    .breed-hair, .when-where, .ears-tail-size, .found-match-buttons {
      width:100%;
      @include flex-center(row);
      justify-content: space-around;
      margin: 2% 0%;
      a, button {
        margin: 0% 1%;
      }
      img {
        height: 35px;
      }
    }
  }
}

.add-dog {
  position: fixed;
  bottom: 0;
  a{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    img{
      width: 70%;
    }
  }
}

  
.currentDogMatches {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  /* position: relative; */
  left: -30px;
  width: calc(100% + 60px);
  border-radius: 0;
}


.matches {
  article {
  background-color: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 15px;
  }
}

.currentDogMatches{
  background-color: white;
  padding: 30px;
  margin-top: 20px;
}

.header-match{
  display:flex;
  justify-content: flex-end;

  .button{
    width: 75px;
    border-radius: 13px;
    background-color: #00BCD4;
    margin-right: 10px;
  }
  img{
    height: 35px;
    width: auto;
  }
}

.match-dog-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    margin-bottom: 10px;
  }
  .dog-name{
    font-weight: bold;
    font-size: 1.3em;
    margin: 2% 0%;
  }
  .pet-color {
    justify-content: space-evenly;
    width: 100%;
  }
  .ears-tail-size{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    p{
      img{
        height:35px;
      }
    }
  }
  .breed-hair{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.delete-match {
  position: absolute;
  right: -9px;
  top: -15px;
}

.matching-info{
  position: relative;
  .ears-tail-size{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .breed-hair{
    display: flex;
    margin: 20px 0;
  }
}

.dog-match-image img{
  position: relative;
  top: -30px;
  left: -30px;
  width: calc(100% + 60px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

