form{
  width:100%;
  margin: 20px 0;
  font-size: 1.2em;
  label, div label{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $darkgrey;
    font-weight: 100;
    text-align: center;
    margin: 5% 0;
  }
}
input[type="text"], input[type="email"], input[type="password"]{
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid $mediumblue;
  height: 40px;
  padding: 20px;
  width: 80%;
  margin-bottom: 30px;
  -webkit-transition: all 1s; /* Safari prior 6.1 */
  transition: all 1s;
  font-size: 0.8em;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
  outline: none;
  width:100%;
  border-bottom: 2px solid $darkblue;
  -webkit-transition: all 0.5s; /* Safari prior 6.1 */
  transition: all 0.5s;
}

select{
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #259bab;
  height: 40px;
  padding: 5px;
  width: 80%;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: $darkblue;
  font-size: 0.8em;
}

select:focus{
  outline: none;
  border-bottom: 2px solid $darkblue;
  -webkit-transition: all 0.5s; /* Safari prior 6.1 */
  transition: all 0.5s;
}

input[type="checkbox"] {
  width: 30px;
}


.date{
  display: flex;
  justify-content: space-evenly;
  input, select{
    width:22%;
  }

  input{
    padding: 12px;
  }

  input:focus{
    width:22%;
  }
}

.margin-bottom{
  margin-bottom:30px;
}
 
.pet-color {
  @include flex-center(row)
  justify-content:space-between;
  .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $darkblue;
  }
  .white {
    background-color: white;
  }
  .black {
    background-color: black;
  }
  .grey {
    background-color: grey;
  }
  .red {
    background-color: $red;
  }
  .light-brown {
    background-color: #ebcc7c;
  }
  .dark-brown {
    background-color: #b36b01;
  }
}

::placeholder{
  color:$mediumblue;
  text-align: center;
}

button, .button{
  width: 80%;
  padding: 10px;
  border: 0;
  background: $darkblue;
  color: white;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-height: 40px;
}

a.button {
  padding:8px;
}

div.new-messages, div.new-matches {
  background-color: $red;
    border-radius: 50%;
    padding: 6px;
    transform: translateY(-10px);
}